@model StajTakip.Models.CommentDocumentViewModel
@using GridMvc.Html
@{ViewBag.Title = "UploadFiles";
    Layout = "~/Views/Shared/_StudentLayout.cshtml";
}
<script src="~/Scripts/loadingList-min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/text.config.min.css" rel="stylesheet" />
<link href="~/Content/chat-min.css" rel="stylesheet" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
@*<style>
        div.scroll {
            margin: 4px, 4px;
            padding: 4px;
            width: 69.3em;
            height: 40%;
            overflow-x: auto;
            text-align: justify;
        OUT OF ORDER
        }
    </style>*@
@using (Html.BeginForm("UploadFiles", "StudentMain", FormMethod.Post, new { enctype = "multipart/form-data", @style = "width:80%; margin-left:10%; margin-right:6%;" }))
{
    <div class="card card-user" style="width:100%;  overflow-x:auto;">

        <div class="boxshadow-title">
            <h5 class="card-title text-color-btn-vfi-default">Upload Intern Files</h5>
        </div>
        <div class="card-body">
            <form method="post">
                <table class="table">
                    <tr>
                        <td><input type="file" class="filestyle" data-buttonText="Select a File" name="file" /></td>
                    </tr>
                    <tr>
                        <td>
                            <br />@if (Session["ShowErrorMessage"] != null)
                            {
                                if ((int)Session["ShowErrorMessage"] == 1)
                                {
                                    <div class="alert alert-danger">
                                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
                                            ×
                                        </button>
                                        <span class="glyphicon glyphicon-record"></span> <strong style="color:white;">Error Message!</strong>
                                        <hr class="message-inner-separator">
                                        <p style="color:white;">
                                            You can upload only ".pdf" files !
                                        </p>
                                    </div>

                                }
                                else if ((int)Session["ShowErrorMessage"] == 0)
                                {
                                    <div class="alert alert-success">
                                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
                                            ×
                                        </button>
                                        <span class="glyphicon glyphicon-record"></span> <strong style="color:white;">Success Message!</strong>
                                        <hr class="message-inner-separator">
                                        <p style="color:white;">Uploaded succesfully !</p>
                                    </div>

                                }
                                else if ((int)Session["ShowErrorMessage"] == 2)
                                {
                                    <div class="alert alert-danger">
                                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
                                            ×
                                        </button>
                                        <span class="glyphicon glyphicon-record"></span> <strong style="color:white;">Error Message!</strong>
                                        <hr class="message-inner-separator">
                                        <p style="color:white;">You cannot upload a file with the same name !</p>
                                    </div>
                                }
                            }

                        </td>
                    </tr>
                    <tr>
                        <td><input type="submit" name="file" value="Add File" class="btn btn-primary btn-round" style="width:35%; margin-left:32%" /></td>
                    </tr>
                    <tr></tr>
                </table>
            </form>
        </div>
    </div>
    <div class="card card-user" style="width:80%; margin-left:10%; margin-right:6%; overflow-x:auto; overflow-y:auto;">
        <div class="card-body">
            <div class="card-header">
                <h5 class="card-title text-color">Files</h5>
            </div>
            @Html.Grid(Model.tupCD.Item1).Columns(Columns =>
       {
   Columns.Add().Encoded(false).Titled("").Sanitized(false).Sortable(true).Filterable(false).RenderValueAs(c => @<div style="width:2em;"><img alt="Image" src='~/Image/pdfLogo.png' )" /></div>).SetWidth(5);
                     Columns.Add(x => x.FileLocation).Sortable(true).Titled("").Filterable(false);
                     Columns.Add()
.Encoded(false)
.Sanitized(false)
.SetWidth(20)
.RenderValueAs(x => Html.ActionLink("View PDF", "ViewPDF", new { id = x.DocumentID }, new { target = "_blank" }));
                     Columns.Add()
.Encoded(false)
.Sanitized(false)
.SetWidth(20)
.RenderValueAs(x => Html.ActionLink("x", "DeleteUploadedFile", new { idDelete = x.DocumentID }));
                 }).WithPaging(3).Sortable(true)
        </div>
    </div>
}

    <div class="card card-user" style="width:100%; height:300px; margin-left:9%; margin-right:9%; border-radius:15px;">
        <div class="panel-heading">Comments</div>
        <div style="height:100%; overflow:auto;">

            <div class="container" style="overflow-y:auto;">
                <div class="row">
                    <div class="panel panel-default" style="width:100%;">

                        <div class="panel-body">
                            @foreach (var item in Model.tupCD.Item2)
        {
                                <div class="container">
                                    <div class="message-bubble" style="background-color:#F5F5F5; border-bottom:double 6px; border-color:white; overflow-x:auto;">
                                        <div>
                                            <p class=" text-stdname">
                                                @Html.DisplayTextFor(model => item.SenderName)
                                                @Html.DisplayTextFor(model => item.SenderSurname)
                                            </p>
                                            <p class="text-stdcontent">@Html.DisplayTextFor(model => item.Comment1)</p>
                                            <p class="text-stddate">@Html.DisplayTextFor(model => item.Date)</p>
                                        </div>
                                    </div>
                                </div>
                            }

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class=" card card-user" style="width:100%; margin-left:9%; margin-right:9%; border-radius:15px;">
        @using (Html.BeginForm("SendMessage", "StudentMain", FormMethod.Post))
        {
            <div class="panel-footer">
                <div class="input-group">
                    @Html.EditorFor(model => model.comment, new { htmlAttributes = new { @class = "form-control", placeholder = "Text here...", @style = "margin-left:1%;margin-top:1%;" } })
                    @*<input type="text" class="form-control">*@
                    <span class="input-group-btn">
                        @*<button class="btn btn-primary btn-round" type="button">Send</button>*@
                        @*<input type="submit" name="comment" value="Send" class="btn btn-primary btn-round" />*@
                        <input type="submit" name="comment" value="Send" class="btn-dark" style="margin:-15%; margin-top:20%; height:79%; border-bottom-right-radius:20px;" />
                    </span>
                </div>
            </div>
        }      
    </div>

